@{
    ViewData["Title"] = "我的游戏";
}

<link rel="stylesheet" href="~/css/mygame_style.css" />

<div id="top"></div>
<!-- 内容 -->
<div class="content">
    <div class="container">
        <div class="row">
            <!-- 左侧导航栏 -->
            <div class="col-sm-offset-1 col-sm-3" id="left-carousel">
                <ul class="list-group">
                    <li class="list-group-item">我的游戏</li>
                    <a href="#buy_game"><li class="list-group-item">已购买</li></a>
                    <a href="#update_game"><li class="list-group-item">可更新</li></a>
                    <a href="#like_game"><li class="list-group-item">收藏夹</li></a>
                    <li class="list-group-item">个人中心</li>
                    <a href="#personal_setting"><li class="list-group-item">个人设置</li></a>
                    <a href="#reset_pwd"><li class="list-group-item">重置密码</li></a>
                </ul>
            </div>
            <!-- 信息栏 -->
            <div class="col-sm-7" id="right-carousel">
                <div class="imformation_default">
                    <div class="row">
                        <div class="col-sm-5">
                            <img src="~/images/user.jpg" />
                            <p>OrangeMiracle</p>
                        </div>
                        <div class=" col-sm-offset-1 col-sm-6">
                            <p>用户等级：VIP1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;经验值：1/100</p>
                        </div>
                    </div>
                    <div>
                        <div class="imformation_ul">
                            <ul class="list-group">
                                <a href="#buy_game"><li>已购买</li></a>
                                <a href="#update_game"><li>可更新</li></a>
                                <a href="#like_game"><li>收藏夹</li></a>
                            </ul>
                        </div>
                    </div>
                </div>
                    <div class="setting visible" id="buy_game">
                        <div class="buy">
                            <div class="game_list clearfix visible-lg">
                                <div class="game_para">
                                    <p class="para">
                                        <img src="~/images/1.jpg">
                                        <h3>绝地求生</h3>
                                    <p>游戏大小：16G<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">游戏详情</a></p>
                                    <p>购买时间：2020年2月29日<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">游戏下载</a></p>
                                    <p>游戏版本：ver 1.1.1<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">联系客服</a></p>
                                    <p>订单状态：已评价<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">删除订单</a></p>
                                    </p>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="game_list clearfix visible-lg">
                                <div class="game_para">
                                    <p class="para">
                                        <img src="~/images/1.jpg">
                                        <h3>绝地求生</h3>
                                    <p>游戏大小：16G<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">游戏详情</a></p>
                                    <p>购买时间：2020年2月29日<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">游戏下载</a></p>
                                    <p>游戏版本：ver 1.1.1<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">联系客服</a></p>
                                    <p>订单状态：已评价<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">删除订单</a></p>
                                    </p>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="game_list clearfix visible-lg">
                                <div class="game_para">
                                    <p class="para">
                                        <img src="~/images/1.jpg">
                                        <h3>绝地求生</h3>
                                    <p>游戏大小：16G<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">游戏详情</a></p>
                                    <p>购买时间：2020年2月29日<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">游戏下载</a></p>
                                    <p>游戏版本：ver 1.1.1<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">联系客服</a></p>
                                    <p>订单状态：已评价<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">删除订单</a></p>
                                    </p>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="game_list clearfix visible-lg">
                                <div class="game_para">
                                    <p class="para">
                                        <img src="~/images/1.jpg">
                                        <h3>绝地求生</h3>
                                    <p>游戏大小：16G<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">游戏详情</a></p>
                                    <p>购买时间：2020年2月29日<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">游戏下载</a></p>
                                    <p>游戏版本：ver 1.1.1<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">联系客服</a></p>
                                    <p>订单状态：已评价<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">删除订单</a></p>
                                    </p>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="game_list clearfix visible-lg">
                                <div class="game_para">
                                    <p class="para">
                                        <img src="~/images/1.jpg">
                                        <h3>绝地求生</h3>
                                    <p>游戏大小：16G<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">游戏详情</a></p>
                                    <p>购买时间：2020年2月29日<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">游戏下载</a></p>
                                    <p>游戏版本：ver 1.1.1<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">联系客服</a></p>
                                    <p>订单状态：已评价<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">删除订单</a></p>
                                    </p>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="setting" id="update_game">
                        <div class="update">
                            <div class="game_list clearfix visible-lg">
                                <div class="game_para">
                                    <p class="para">
                                        <img src="~/images/2.jpg">
                                        <h3>绝地求生</h3>
                                    <p>更新包大小：16G<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">游戏详情</a></p>
                                    <p>当前游戏版本：ver 1.1.1<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">游戏更新</a></p>
                                    <p>最新游戏版本：ver 1.1.2<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">联系客服</a></p>
                                    <p>更新日期：2018.04.01<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">删除订单</a></p>
                                    </p>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="game_list clearfix visible-lg">
                                <div class="game_para">
                                    <p class="para">
                                        <img src="~/images/2.jpg">
                                        <h3>绝地求生</h3>
                                    <p>更新包大小：16G<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">游戏详情</a></p>
                                    <p>当前游戏版本：ver 1.1.1<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">游戏更新</a></p>
                                    <p>最新游戏版本：ver 1.1.2<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">联系客服</a></p>
                                    <p>更新日期：2018.04.01<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">删除订单</a></p>
                                    </p>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="game_list clearfix visible-lg">
                                <div class="game_para">
                                    <p class="para">
                                        <img src="~/images/2.jpg">
                                        <h3>绝地求生</h3>
                                    <p>更新包大小：16G<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">游戏详情</a></p>
                                    <p>当前游戏版本：ver 1.1.1<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">游戏更新</a></p>
                                    <p>最新游戏版本：ver 1.1.2<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">联系客服</a></p>
                                    <p>更新日期：2018.04.01<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">删除订单</a></p>
                                    </p>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="game_list clearfix visible-lg">
                                <div class="game_para">
                                    <p class="para">
                                        <img src="~/images/2.jpg">
                                        <h3>绝地求生</h3>
                                    <p>更新包大小：16G<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">游戏详情</a></p>
                                    <p>当前游戏版本：ver 1.1.1<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">游戏更新</a></p>
                                    <p>最新游戏版本：ver 1.1.2<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">联系客服</a></p>
                                    <p>更新日期：2018.04.01<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">删除订单</a></p>
                                    </p>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="setting" id="like_game">
                        <div class="like">
                            <div class="game_list clearfix visible-lg">
                                <div class="game_para">
                                    <p class="para">
                                        <img src="~/images/1.jpg">
                                        <h3>绝地求生</h3>
                                    <p>游戏大小：16G<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">游戏详情</a></p>
                                    <p>游戏价格：￥118<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">联系客服</a></p>
                                    <p>发售时间：2020年2月29日<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">取消关注</a></p>
                                    <p>销量：233333</p>
                                    </p>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="game_list clearfix visible-lg">
                                <div class="game_para">
                                    <p class="para">
                                        <img src="~/images/1.jpg">
                                        <h3>绝地求生</h3>
                                    <p>游戏大小：16G<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">游戏详情</a></p>
                                    <p>游戏价格：￥118<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">联系客服</a></p>
                                    <p>发售时间：2020年2月29日<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">取消关注</a></p>
                                    <p>销量：233333</p>
                                    </p>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="game_list clearfix visible-lg">
                                <div class="game_para">
                                    <p class="para">
                                        <img src="~/images/1.jpg">
                                        <h3>绝地求生</h3>
                                    <p>游戏大小：16G<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">游戏详情</a></p>
                                    <p>游戏价格：￥118<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">联系客服</a></p>
                                    <p>发售时间：2020年2月29日<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">取消关注</a></p>
                                    <p>销量：233333</p>
                                    </p>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="game_list clearfix visible-lg">
                                <div class="game_para">
                                    <p class="para">
                                        <img src="~/images/1.jpg">
                                        <h3>绝地求生</h3>
                                    <p>游戏大小：16G<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">游戏详情</a></p>
                                    <p>游戏价格：￥118<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">联系客服</a></p>
                                    <p>发售时间：2020年2月29日<a class="btn btn-primary pull-right" href="#" role="button" target="_blank">取消关注</a></p>
                                    <p>销量：233333</p>
                                    </p>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="setting" id="personal_setting">
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-10 form-box">
                                <form role="form" action="#" method="get" class="registration-form">
                                    <div class="form-bottom">
                                        <div class="form-group">
                                            <p>昵称</p>
                                            <label class="sr-only" for="form-last-name">昵称：</label>
                                            <input type="text" name="form-last-name" placeholder="请输入你的昵称" class="form-last-name form-control" id="form-last-name" autofocus>
                                        </div>
                                        <div class="form-group">
                                            <p>个人描述</p>
                                            <label class="sr-only" for="form-about-yourself">个人描述：</label>
                                            <textarea name="form-about-yourself" placeholder="请输入你的个人介绍" class="form-about-yourself form-control" id="form-about-yourself"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <p>真实姓名</p>
                                            <label class="sr-only" for="form-last-name">真实姓名：</label>
                                            <input type="text" name="form-last-name" placeholder="请输入你的真实姓名" class="form-last-name form-control" id="form-last-name">
                                        </div>
                                        <div class="form-group">
                                            <p>身份证号码</p>
                                            <label class="sr-only" for="form-last-name">身份证号码：</label>
                                            <input type="text" name="form-last-name" placeholder="请输入你的身份证号码" class="form-last-name form-control" id="form-last-name">
                                        </div>
                                        <div class="form-group">
                                            <p>年龄</p>
                                            <label class="sr-only" for="form-age">年龄：</label>
                                            <input type="number" name="form-age" placeholder="请输入你的年龄" id="form-age" class="form-age form-control" min="0" max="120" value="0">
                                        </div>
                                        <div class="form-group">
                                            <p>
                                                出生日期
                                                <label class="sr-only" for="form-brithday">出生日期：</label>
                                                <input type="date" name="form-brithday" id="form-brithday" class="form-brithday form-control">
                                            </p>
                                        </div>
                                        <button type="button" class="btn btn-block">提交</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="setting" id="reset_pwd">
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-10 form-box">
                                <form role="form" action="#" method="get" class="registration-form">
                                    <div class="form-group">
                                        <p>原密码</p>
                                        <label class="sr-only" for="form-password">原密码：</label>
                                        <input type="password" name="form-password" placeholder="请输入第一次密码" id="form-password" class="form-password form-control">
                                    </div>
                                    <div class="form-group">
                                        <p>新密码</p>
                                        <label class="sr-only" for="form-password">新密码：</label>
                                        <input type="password" name="form-password" placeholder="请输入第一次密码" id="form-password" class="form-password form-control">
                                    </div>
                                    <div class="form-group">
                                        <p>重复新密码</p>
                                        <label class="sr-only" for="form-repeat-password">重复新密码：</label>
                                        <input type="password" name="form-repeat-password" placeholder="请输入第二次密码" id="form-repeat-password" class="form-repeat-password form-control">
                                    </div>
                                    <button type="button" class="btn btn-block">提交</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div> 